@import url("https://fonts.googleapis.com/css?family=Lora:400,700|Roboto:300,400,700");
@import url("components/avatar.css");
@import url("components/container.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/cards.css");
body {
  font-family: 'Lora', serif;
  font-size: 18px;
  margin: 0px;
}
h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
a {
  text-decoration: none;

}
.typeform-widget{
  margin-top: 650px;
  height: 400px;
}
#box{
  border-radius: 10px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0,0.22);
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 50px;
}