.btn-blue{
	border-radius: 10px;
	background-color: #A958EE;
	font-family: 'Roboto', sans-serif;
	color: white;
	padding: 13px;
	transition: color 0.5s ease;
	transition: background-color 0.5s ease;
	margin-top: 5px;
	font-weight: bold;
}
.btn-blue:hover{
	background-color: lightblue;
	color: #A958EE;
}